<template>
  <div class="PDesc">
    <b-row v-if="isLoading">
      <b-col>
        <b-skeleton-img />
      </b-col>
      <b-col>
        <b-skeleton animation="wave" width="85%"></b-skeleton>
        <b-skeleton animation="wave" width="55%"></b-skeleton>
        <b-skeleton animation="wave" width="70%"></b-skeleton>
      </b-col>
    </b-row>

    <b-row v-if="!isLoading">
      <b-col cols="6" class="left-side">
        <img class="product-img" :src="detailProduct.img_url" alt="" />
      </b-col>
      <b-col class="right-side">
        <h3>{{ detailProduct.name }}</h3>
        <b-form-rating
          class="p-0 mb-2"
          id="rating-inline rating-readonly"
          no-border
          readonly
          inline
          value="4.5"
          show-value
          color="#ff8800"
        ></b-form-rating>
        <p>
          <b>Rp {{ detailProduct.price }}</b
          >/{{ detailProduct.gram_per_price }} gram
        </p>

        <p class="desctype"><b>Petani</b></p>
        <p>
          <b-link :to="'/profile/' + detailProduct.farmer._id">{{
            detailProduct.farmer.name
          }}</b-link>
        </p>

        <p class="desctype"><b>Deskripsi</b></p>
        <p>{{ detailProduct.desc }}</p>

        <p class="desctype"><b>Tanggal Panen</b></p>
        <p>{{ detailProduct.harvest.harvestDay }}</p>

        <p class="desctype"><b>Lokasi</b></p>
        <p>{{ detailProduct.farmer.profile.location }}</p>

        <p class="desctype"><b>Stok</b></p>
        <p>{{ detailProduct.qty }}</p>

        <b-button
          class="btn add-btn"
          style="z-index:1;position: relative"
          @click.once="onSubmit(detailProduct)"
          v-if="detailProduct.qty > 0"
          variant="success"
        >
          Beli
        </b-button>
        <b-button
          class="btn nostock-btn"
          style="z-index:1;position: relative"
          disabled
          v-else
          variant="secondary"
        >
          Stok Habis
        </b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "ProductDesc",
  created() {
    this.id = this.$route.params.id; //ngambil id dari url params
    this.fetchProductDetail(this.id); //ngelempar id ke action vuex fetchProductDetail
  },
  computed: {
    ...mapGetters(["detailProduct", "isLoading"]),
  },
  methods: {
    ...mapActions(["fetchProductDetail", "addToCart"]),
    onSubmit(product) {
      this.addToCart({
        product: product,
        quantity: 1,
      });
      alert("Produk telah ditambahkan ke keranjang");
    },
  },
};
</script>

<style scoped>
.PDesc {
  margin: 50px 10% 0;
}

.desctype {
  margin-bottom: 5px;
}

img {
  max-width: 100%;
}

.product-img {
  width: 100%;
}

.right-side {
  padding: 0 8%;
}

a {
  color: #28706c;
}
</style>
