<template>
  <div class="tab">
    <b-tabs content-class="mt-3">
      <b-tab
        title="Tentang Petani"
        active
        v-if="detailProduct && detailProduct.farmer"
      >
        <h4>
          {{ detailProduct.farmer.profile.name }}
          <b-link
            class="link-profile"
            :to="{
              path: '/profile/' + detailProduct.farmer._id,
            }"
            >Lihat Toko</b-link
          >
        </h4>
        <p>{{ detailProduct.farmer.profile.desc }}</p>

        <OtherProduct />
      </b-tab>
      <b-tab title="Ulasan">
        <p>Konten ulasan...</p>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import OtherProduct from "@/components/PageContent3/OtherProduct";

export default {
  name: "PDTab",
  components: {
    OtherProduct,
  },
  created() {
    this.id = this.$route.params.id;
    this.fetchProductDetail(this.id);
  },
  computed: {
    ...mapGetters(["detailProduct"]),
  },
  methods: {
    ...mapActions(["fetchProductDetail"]),
  },
};
</script>

<style scoped>
.tab {
  margin: 50px 10% 0;
}
.link-profile {
  font-size: 12px;
  color: #fd6a35;
}
.nav-tabs .nav-item .nav-link {
  color: #000;
}
</style>
