<template>
  <div class="about-section" v-if="!isLoading">
    <h1>Cerita Tentang Kami</h1>
    <p>member sejak {{ FullYear(dataFarmer.createdAt) }} - sekarang</p>
    <b-row v-if="dataFarmer && dataFarmer.about">
      <b-col cols="5" class="left-part">
        <b-embed
          type="iframe"
          aspect="16by9"
          :src="dataFarmer.about.mediaUrl"
          allowfullscreen
        ></b-embed>
      </b-col>

      <b-col class="right-part">
        <p>
          {{ dataFarmer.about.desc }}
        </p>
      </b-col>
    </b-row>
    <b-row class="about-images">
      <b-col cols="3" v-for="data in dataFarmer.gallery" :key="data._id">
        <img class="gallery-img" :src="data" alt="" />
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "About",
  created() {
    this.id = this.$route.params.id;
    this.fetchFarmerData(this.id);
  },
  computed: {
    ...mapGetters(["dataFarmer", "isLoading"]),
  },
  methods: {
    ...mapActions(["fetchFarmerData"]),
    FullYear(date) {
      var r = new Date(date)
      return r.getFullYear()
    }
  },
};
</script>

<style scoped>
.about-section {
  background-color: #fff;
  padding: 50px 10% 50px;
}

.about-images {
  padding: 150px 0 50px;
}

img {
  max-width: 100%;
}

.gallery-img {
  height: 170px;
  object-fit: cover;
  width: 100%;
}
</style>
