<template>
  <div class="summary-section" v-if="!isLoading">
    <b-row>
      <b-col cols="7" class="left-part">
        <h1>{{ dataFarmer.name }}</h1>
        <p v-if="dataFarmer && dataFarmer.profile">
          {{ dataFarmer.profile.location }}
        </p>
        <b-row
          id="produk-info"
          v-if="dataSummary && dataSummary.farmer_summary"
        >
          <b-col class="text-center">
            <p>{{ dataSummary.farmer_summary.total_product }}</p>
            <p>Produk Tersedia</p>
          </b-col>
          <b-col class="text-center">
            <p>{{ dataSummary.farmer_summary.total_sold }}</p>
            <p>Produk Terjual</p>
          </b-col>
          <b-col class="text-center">
            <p>{{ dataSummary.farmer_summary.total_review }}</p>
            <p>Ulasan</p>
          </b-col>
        </b-row>
        <p>
          Sayuran bersih dan segar 100% kami menanam berbagai macam jenis
          sayuran. Siap melayani pemesanan dalam jumlah banyak maupun individu.
        </p>
        <div class="button-section">
          <b-button variant="success" @click="scroll">Lihat Produk</b-button>
          <b-button>Chat Penjual</b-button>
        </div>
      </b-col>

      <b-col class="right-part text-center">
        <img :src="dataFarmer.profile.imgUrl" alt="#" />
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Summary",
  created() {
    this.id = this.$route.params.id;
    this.fetchSummaryData(this.id);
    this.fetchFarmerData(this.id);
  },
  computed: {
    ...mapGetters(["dataSummary", "dataFarmer", "isLoading"]),
  },
  methods: {
    ...mapActions(["fetchSummaryData", "fetchFarmerData"]),
    scroll() {
      const element = document.getElementById("my-product");
      element.scrollIntoView({ behavior: "smooth" });
    },
  },
};
</script>

<style scoped>
.summary-section {
  background-color: #f9f7f2;
  padding: 50px 10% 50px;
}

#produk-info {
  max-width: 80%;
}

.btn-success {
  background-color: #28706c;
  border-color: #28706c;
  margin-right: 20px;
  width: 30%;
}

.btn-secondary {
  background-color: #fff;
  border-color: #28706c;
  color: #28706c;
  width: 30%;
}

img {
  max-width: 100%;
  height: 450px;
  object-fit: cover;
}

.button-section {
  padding-top: 20px;
}
</style>
