<template>
  <div class="Login">
    <SignIn />
  </div>
</template>

<script>
import SignIn from "@/components/SignInUp/SignIn";

export default {
  name: "Login",
  components: {
    SignIn,
  },
};
</script>

<style scoped></style>
