<template>
  <div class="petani-page">
    <Navbar />
    <Summary class="first-component" />
    <About />
    <Product />
    <Review class="last-component" />
    <Footer />
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";
import Summary from "@/components/PageContentProfile/Summary";
import About from "@/components/PageContentProfile/About";
import Product from "@/components/PageContentProfile/Product";
import Review from "@/components/PageContentProfile/Review";
import Footer from "@/components/Footer";

export default {
  name: "PetaniProfile",
  components: {
    Navbar,
    Summary,
    About,
    Product,
    Review,
    Footer,
  },
};
</script>

<style scoped></style>
