<template>
  <div class="ProDet">
    <Navbar />
    <Breadcrumb class="first-component" />
    <ProductDesc />
    <Tab class="last-component" />
    <!-- <OtherProduct /> -->
    <Footer />
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";
import Breadcrumb from "@/components/Breadcrumb";
import ProductDesc from "@/components/PageContent3/ProductDesc";
import Tab from "@/components/PageContent3/Tab";
// import OtherProduct from "@/components/PageContent3/OtherProduct";
import Footer from "@/components/Footer";

export default {
  name: "ProDet",
  components: {
    Navbar,
    Breadcrumb,
    ProductDesc,
    Tab,
    // OtherProduct,
    Footer,
  },
};
</script>

<style scoped></style>
