<template>
  <div class="banner-container">
    <img class="banner-img" src="../../assets/promo-senen.png" alt="" />
  </div>
</template>

<script>
export default {
  name: "Banner",
};
</script>

<style scoped>
.banner-container {
    padding: 0;
    margin: 50px 0 0 0;
    text-align: center;
}
.banner-img {
    width: 80%;
}
</style>
