<template>
  <div class="kategori-container">
    <b-container fluid class="pilihan-container" style="padding: 0">
      <b-row align-h="between">
        <b-col class="pilihan" cols="6" md="4" lg="3"
          ><b-link class="pilihan-button" @click.prevent="sayuran"
            >Sayuran</b-link
          ></b-col
        >
        <b-col class="pilihan" cols="6" md="4" lg="3"
          ><b-link class="pilihan-button" @click.prevent="buah"
            >Buah</b-link
          ></b-col
        >
        <b-col class="pilihan" cols="6" md="4" lg="3"
          ><b-link class="pilihan-button" @click.prevent="karbohidrat"
            >Karbohidrat</b-link
          ></b-col
        >
        <b-col class="pilihan" cols="6" md="4" lg="3"
          ><b-link class="pilihan-button" @click.prevent="olahansehat"
            >Olahan sehat</b-link
          ></b-col
        >
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "Kategori",
  methods: {
    ...mapActions(["fetchProductsFilter"]),
    sayuran: function() {
      this.fetchProductsFilter("vegetable");
      this.$router.push("/product/vegetable");
    },
    buah: function() {
      this.fetchProductsFilter("fruit");
      this.$router.push("/product/fruit");
    },
    karbohidrat: function() {
      this.fetchProductsFilter("carbo");
      this.$router.push("/product/carbo");
    },
    olahansehat: function() {
      this.fetchProductsFilter("processedFood");
      this.$router.push("/product/processedFood");
    },
  },
};
</script>

<style scoped>
.kategori-container {
  padding: 0 10%;
}

.pilihan {
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 30px;
}

.pilihan-button {
  background-color: #f9f7f2;
  width: 100%;
  padding: 15px;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

a.pilihan-button.active {
  pointer-events: none;
}
</style>
