<template>
  <div class="segerap-container">
    <h3>Segera panen</h3>
    <!-- menggunakan v-if untuk mengecek kondisi state isLoading -->
    <div class="text-center" v-if="isLoading">
      <b-spinner variant="success" label="Text Centered"> </b-spinner>
    </div>

    <b-card-group v-if="!isLoading" deck class="card-container">
      <b-row class="card-row" style="margin: 0">
        <b-col
          cols="6"
          md="4"
          lg="3"
          style="margin-bottom: 30px"
          v-for="product in allProductsHarvestedFalse"
          :key="product._id"
        >
          <b-card :img-src="product.img_url" img-alt="Card image">
            <!-- ngelempar id ke url params sebelumnya setting routenya dulu di folder router -->
            <b-link
              class="stretched-link"
              :to="{
                path: '/product/detail/' + product.name + '/' + product._id,
              }"
            />
            <p>{{ product.name }}</p>
            <p>Rp {{ product.price }} / {{ product.gram_per_price }} gram</p>
            <!-- <p><star-rating :rating="3.5" :read-only="true" :increment="0.01" :star-size="20"></star-rating></p> -->
            <b-form-rating
              class="p-0"
              id="rating-inline rating-readonly"
              no-border
              readonly
              inline
              value="4.5"
              show-value
              color="#ff8800"
            ></b-form-rating>

            <p>{{ product.farmer.name }}</p>
            <p><b-icon-geo-alt /> Yogyakarta</p>
            <div>
              <b-button
                class="btn add-btn"
                style="z-index:1;position: relative"
                @click.once="onSubmit(product)"
                v-if="product.qty > 0"
                variant="success"
              >
                Beli
              </b-button>
              <b-button
                class="btn nostock-btn"
                style="z-index:1;position: relative"
                disabled
                v-else
                variant="secondary"
              >
                Stok Habis
              </b-button>
            </div>
          </b-card>
        </b-col>
      </b-row>
    </b-card-group>
  </div>
</template>

<script>
// import StarRating from 'vue-star-rating'
import { mapGetters, mapActions } from "vuex"; //import vuex

export default {
  name: "SegeraPanen",
  components: {
    // StarRating
  },
  methods: {
    ...mapActions(["fetchProductsHarvestedFalse", "addToCart"]), //memanggil action fethproducts pada vuex product-module
    onSubmit(product) {
      this.addToCart({
        product: product,
        quantity: 1,
      });
      alert("Produk telah ditambahkan ke keranjang");
    },
    greet: function(event) {
      // `this` inside methods points to the Vue instance
      alert("Hello " + this.name + "!");
      // `event` is the native DOM event
      if (event) {
        alert(event.target.tagName);
      }
    },
  },
  computed: {
    ...mapGetters(["allProductsHarvestedFalse", "isLoading"]),
  },
  created() {
    this.fetchProductsHarvestedFalse();
  },
};
</script>

<style scoped>
.segerap-container {
  margin-top: 20px;
  padding: 0 10%;
}

h3 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

div.col {
  padding: 0;
}

div.card {
  margin: 0;
}

.card-row {
  width: 100%;
}
</style>
