<template>
  <div class="profile-pembeli">
    <b-col>
      <img class="pp-img" src="../assets/grey.jpg" alt="" />
      <h2 class="nama-img text-center">{{ detailAccount.name }}</h2>

      <b-form
        class="updateAccount"
        @submit.prevent="updateAccount"
        @reset="onReset"
        v-if="show"
      >
        <!-- Bagian profil saya -->

        <p class="font-weight-600">Profil Saya</p>
        <p class="font-weight-400">
          Kelola informasi profil Anda untuk mengelola dan mengamankan akun
        </p>
        <hr />

        <b-form-group
          id="input-group-name"
          label="Nama"
          label-for="input-name"
          label-cols="4"
          label-cols-md="3"
          label-cols-lg="2"
        >
          <b-form-input
            id="input-name"
            v-model="form.name"
            type="text"
            :placeholder="detailAccount.name"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="input-group-email"
          label="Email"
          label-for="input-email"
          label-cols="4"
          label-cols-md="3"
          label-cols-lg="2"
        >
          <b-form-input
            id="input-email"
            v-model="form.email"
            type="email"
            :placeholder="detailAccount.email"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          class="endpart-margin"
          id="input-group-telp"
          label="No. Telp"
          label-for="input-telp"
          label-cols="4"
          label-cols-md="3"
          label-cols-lg="2"
        >
          <b-form-input
            id="input-telp"
            v-model="form.telp"
            type="tel"
            :placeholder="detailAccount.phone"
          ></b-form-input>
        </b-form-group>

        <!-- Bagian alamat saya -->

        <p class="font-weight-600">Alamat Saya</p>
        <p class="font-weight-400">
          Pastikan isikan alamat Anda untuk pengiriman pesanan
        </p>
        <hr />

        <b-form-group
          class="endpart-margin"
          id="input-group-alamat"
          label="Alamat"
          label-for="input-alamat"
          label-cols="4"
          label-cols-md="3"
          label-cols-lg="2"
        >
          <b-form-input
            id="input-alamat"
            v-model="form.alamat"
            type="text"
            :placeholder="detailAccount.location"
          ></b-form-input>
        </b-form-group>

        <!-- Bagian ubah password -->

        <p class="font-weight-600">Ubah Password</p>
        <p class="font-weight-400">
          Demi keamanan akun Anda mohon tidak membagikan password Anda dengan
          orang lain
        </p>
        <hr />

        <b-form-group
          id="input-group-oldpassword"
          label="Password Saat Ini"
          label-for="input-oldpassword"
          label-cols="4"
          label-cols-md="3"
          label-cols-lg="2"
        >
          <b-form-input
            id="input-oldpassword"
            v-model="oldpassword"
            type="password"
            disabled
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="input-group-newpassword"
          label="Password Baru"
          label-for="input-newpassword"
          label-cols="4"
          label-cols-md="3"
          label-cols-lg="2"
        >
          <b-form-input
            id="input-newpassword"
            v-model="newpassword"
            type="password"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="input-group-newpassword2"
          label="Konfirmasi Password"
          label-for="input-newpassword2"
          label-cols="4"
          label-cols-md="3"
          label-cols-lg="2"
        >
          <b-form-input
            id="input-newpassword2"
            v-model="newpassword2"
            type="password"
          ></b-form-input>
        </b-form-group>

        <b-alert
          v-show="this.newpassword != this.newpassword2"
          show
          variant="warning"
          >Password Tidak Sama
        </b-alert>

        <!-- Buttons  -->
        <b-button class="simpan-btn" type="submit" variant="success"
          >Simpan</b-button
        >
        <b-button class="batal-btn" type="reset" variant="danger"
          >Batalkan</b-button
        >
        <br>

        <p class="font-weight-600" style="margin-top: 30px">Keluar</p>
        <hr />
        <b-button class="keluar-btn" @click="logout" variant="danger"
          >Logout</b-button
        >
      </b-form>
    </b-col>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "FormProfilePembeli",
  data() {
    return {
      oldpassword: "",
      newpassword: "",
      newpassword2: "",
      form: {
        name: "",
        email: "",
        telp: "",
        alamat: "",
      },
      show: true,
    };
  },
  created() {
    this._id = localStorage._id;
    this.fetchAccountDetail(this._id);
  },
  computed: {
    ...mapGetters(["detailAccount"]),
  },
  methods: {
    ...mapActions(["fetchAccountDetail"]),

    onReset(event) {
      event.preventDefault();
      // Reset form values
      this.form.email = "";
      this.form.name = "";
      this.form.telp = "";
      this.form.alamat = "";
      this.oldpassword = "";
      this.newpassword = "";
      this.newpassword2 = "";

      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },

    updateAccount: function() {
      let data = {
        name: this.form.name,
        email: this.form.email,
        phone: this.form.telp,
        location: this.form.alamat,

        oldpassword: this.oldpassword,
        password: this.newpassword,
      };
      let confirmPassword = this.newpassword2;
      if (this.newpassword == confirmPassword) {
        this.$store
          .dispatch("editProfileUser", data)
          .then(() => alert("Berhasil Update Akun"))
          .catch((err) => console.log(err));
      } else {
        alert("Konfirmasi Kembali Password");
      }
    },

    logout: function() {
      this.$store.dispatch("logout").then(() => {
        this.$router.push("/login");
      });
    },
  },
};
</script>

<style scoped>
.profile-pembeli {
  padding: 50px 10% 0;
}

.pp-img {
  max-width: 155px;
  height: auto;
  margin: 75px auto 20px;
  border-radius: 50%;
  display: block;
}

.nama-img {
  margin-bottom: 50px;
}

.font-weight-600 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 0;
}

.font-weight-400 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0;
}

hr {
  margin: 5px 0 20px;
}

.endpart-margin {
  margin-bottom: 40px;
}

.simpan-btn {
  margin-right: 20px;
  margin-bottom: 15px;
}

.batal-btn {
  margin-right: 20px;
  margin-bottom: 15px;
}
</style>
