<template>
  <div class="search-container d-flex justify-content-end">
    <b-form class="search" @submit.prevent="search">
      <b-form-input
        v-model="searchValue"
        placeholder="Cari berdasarkan nama atau lokasi"
        type="search"
      ></b-form-input>
    </b-form>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "Search",
  data() {
    return {
      searchValue: "",
    };
  },
  methods: {
    ...mapActions(["fetchSearchValue", "fetchSearchValueFarmer"]),
    search: function() {
      this.fetchSearchValue(this.searchValue);
      this.fetchSearchValueFarmer(this.searchValue);
      this.$router.push("/search/" + this.searchValue);
      return this.searchValue;
    },
  },
};
</script>

<style scoped>
.search-container {
  margin: 50px 10% 50px;
}

.search {
  width: 100%;
}

.form-control:focus {
  box-shadow: none;
}

.form-control {
  border: #ffffff;
  background-color: #f3f3f3;
}
</style>
