<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

/* VueCarousel global style */
.VueCarousel {
  margin-top: 15px;
}

.VueCarousel-dot--active {
  background-color: #28706c !important;
}

.VueCarousel-dot-container {
  margin-top: 0 !important;
}

.VueCarousel-slide {
  max-width: 100%;
}

/* Bootstrap styling edit */
.form-control:focus {
  box-shadow: none;
  border-color: #9f9f9f;
}

.btn-success {
  color: #fff;
  background-color: #28706c !important;
  border-color: #28706c;
}

.btn-success:hover {
  color: #fff;
  background-color: #428a86 !important;
  border-color: #428a86;
}

.btn-success:focus,
.btn-success.focus {
  box-shadow: none;
}

.btn-success.disabled,
.btn-success:disabled {
  background-color: #28706c !important;
  border-color: #28706c;
}

.btn-success:active,
.btn-success.active,
.show > .btn-success.dropdown-toggle {
  background-color: #28706c !important;
  background-image: none;
  border-color: #28706c;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #28706c;
  background-color: #28706c;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

a.dropdown-item:active {
  background-color: #428a86;
}

select:focus {
  box-shadow: none !important;
  border-color: #28706c !important;
}

select option:checked {
  background-color: #28706c !important;
  color: #fff;
}

select option:hover {
  background-color: #28706c !important;
}

/* Global styling */
a.nav-link {
  color: #898989;
  font-weight: 400;
}

a.nav-link.active {
  color: #28706c !important;
  font-weight: 600;
}

img.card-img {
  height: 165px;
  object-fit: cover;
}

div.card {
  height: 100%;
}

.first-component {
  margin-top: 100px !important;
}

.last-component {
  padding-bottom: 100px !important;
}

.add-btn {
  background-color: #28706c;
  color: #fff;
  width: 100%;
}

.nostock-btn {
  background-color: #6c747d;
  color: #fff;
  width: 100%;
}
</style>
